<!--
<div id="login_div">

 <h2>Login page</h2>

 <%= form_tag '/login' do %>
   <%= label_tag :username %>
   <%= text_field_tag :email %>
   

   <%= label_tag :password %>
   <%= password_field_tag :password %>
   <%= submit_tag 'Login' %>
 <% end %>

</div>

-->

<div class="container">

  <div id="login-form">

    <h3>Login to scribble!</h3>

	<%= form_for '/login' do |f| %>
	 	
	 	
   		<%= f.text_field :email, :placeholder => "Email",  :type => "email" %>
  		<%= f.password_field :password, :placeholder =>"Password", :type => "password" %>

        <div class="signfooter">


  	<%= f.submit 'Login' %>

  	<% end %>     


        </div>
 

  </div>

</div>