<!DOCTYPE html>
<html>
<head>
  <title>DrawingappRails</title>
  <%= include_gon %>
  <% # the above line is needed for the gon gem to work correctly. %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="tile-nav">
  <ul>
    <li class="colour-1"><%= link_to "scribble", draw_path %></li>
    <li class="colour-2"><%= link_to "Gallery", gallery_path %></li>
    <li class="colour-3"><a href="#">feel lucky?</a></li>
    <li class="colour-4"></li>
    <li class="colour-5"><%= link_to "Login", login_path %></li>
    <li class="colour-6"><%= link_to "Register", new_user_path %></li>

    <li class="colour-7"><%= link_to logout_path do %>
      <div class="circle"></div>  
      <% end %>
    </li>
  </ul>
</nav>

<div class="container">

<%= yield %>

</div>


<footer>
  
    <img src="/assets/pen.svg"/>
  
</footer>

</body>
</html>
